footer {
	width: var(--container-width);
	margin: var(--container-margin);
}

main {
	width: var(--container-width);
	margin: var(--container-margin);
}

nav > ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 16px;
}

p {
	margin-top: 1rem;
}

h1,
h2 {
	margin: 1em 0;
}

hr {
	width: var(--container-width);
	border-color: #eee;
}

a {
	text-decoration-color: var(--color-link-border);
	color: var(--color-text);
	text-underline-offset: 0.05em;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
}

.postlist-item,
.noteslist-item {
	margin-bottom: 20px;
	gap: 20px;
	@media screen and (min-width: 800px) {
		display: flex;
		flex-direction: row-reverse;
		margin-left: -130px;
	}
	div {
		width: 100%;
	}
	p {
		margin: 0;
	}
	img {
		margin-top: 1rem;
	}
}

.postlist-date,
.noteslist-date {
	width: 140px;
	opacity: 0.5;
	text-align: right;
}
