<div class="noteslist">
{% for note in noteslist %}
  <section class="h-entry noteslist-item{% if note.url == url %} noteslist-item-active{% endif %}">
   <div> {{ note.templateContent | safe }}
    {%- if note.data.photo -%}
      {% for photo in note.data.photo %}
        <img src="{{ photo.url | url }}">
      {% endfor %}
    {%- endif -%} 
   </div> 
    <a href="{{ note.url | url }}" class="noteslist-date">
      <time class="dt-published" datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate }}</time>
    </a>


    {% for tag in note.data.tags %}
      {%- if tag != "notes" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </section>
{% endfor %}
</div>