<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="yandex-verification" content="42be23c126782e27" />
	<link rel="alternate" href="https://chndr.cc/feed/feed.xml" type="application/rss+xml" title="Chander writes about front-en development">
	<title>Chandrasekar | Front-end developer</title>
		<meta name="viewport" content="width=device-width">
		<style type="text/css">
			body {
				font-family: verdana;
				line-height: 1.5;
				width: 80%;
				padding: 1rem;
			}
			@media screen and (min-width: 80rem) {
				body {
					width: 40%;
				}
			}
		</style>
</head>
<body>
<h1>Hi, I am Chandrasekar, a front-end developer.</h1>

<p>🚧 Welcome to my home on the Internet. I am building <a href="https://twitter.com/chndr_s/status/1094660821748076545" target="_blank">this in the open</a>. Here's the <a href="/changelog/">changelog</a>.</p>

<nav>
	<a href="/">Home</a>
	<a href="/journal">Journal</a>
	<a href="/bookshelf">Bookshelf</a>
	<a href="/about">About</a>
</nav>

{{ content | safe }}

<hr>
<footer>
	<div class="h-card">
		<img class="u-photo" src="/img/profile-pic.png" />
		<p class="p-note">I am <a class="p-name u-url" href="https://chndr.cc">Chandrasekar</a>, a <span class="p-job-title">Front-end</span> developer from <span class="p-locality">Chennai</span>, <span class="p-country-name">India</span>.</p>
		<p>You can get in touch with me over <a href="mailto:adakadavuley@gmail.com" class="u-email">email</a>. I am also on <a href="https://twitter.com/chndr_s" target="_blank" rel="me">twitter</a></p>
	</div>
	
</footer>
</body>
</html>