<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="yandex-verification" content="42be23c126782e27" />
	<link rel="alternate" href="https://chndr.cc/feed/feed.xml" type="application/rss+xml" title="Chandra writes about front-en development">
	<title>Chandrasekar | Front-end developer</title>
	<meta name="viewport" content="width=device-width">
	<link rel="micropub" href="https://chndr-indiekit.fly.dev/micropub">
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
	<link href="https://github.com/chandra-sekar" rel="me">
	<style type="text/css">
		body {
		  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
	</style>
</head>
<body>
<header>
<h1>Chandrasekar</h1>

<nav>
  <ul>
		<li><a href="/journal">Journal</a></li>
		<li><a href="/notes">Notes</a></li>
		<li><a href="/bookshelf">Bookshelf</a></li>
		<li><a href="/about">About</a></li>
  </ul>
</nav>
</header>

<main>
{{ content | safe }}
</main>

<hr>
<footer>
	<div class="h-card">
		<p class="p-note">I am <a class="p-name u-url" href="https://chndr.cc">Chandrasekar</a>, a <span class="p-job-title">Front-end</span> developer from <span class="p-locality">Chennai</span>, <span class="p-country-name">India</span>.</p>
		<p>You can get in touch with me over <a href="mailto:chandrasekar@gmx.com" rel="me" class="u-email">email</a>. I am also on <a href="https://twitter.com/chndr_s" target="_blank" rel="me">twitter</a> and <a href="https://micro.blog/chandra" target="_blank" rel="me">micro.blog</a></p>
	</div>
	
</footer>
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
