<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chandrasekar | Front-end developer</title>
		<meta name="viewport" content="width=device-width">
		<style type="text/css">
			body {
				font-family: verdana;
				line-height: 1.5;
				width: 80%;
				padding: 1rem;
			}
			@media screen and (min-width: 80rem) {
				body {
					width: 40%;
				}
			}
		</style>
</head>
<body>
<h1>Hi, I am Chandrasekar, a front-end developer.</h1>

<p>🚧 Welcome to my home on the Internet. I am building <a href="https://twitter.com/chndr_s/status/1094660821748076545" target="_blank">this in the open</a>. Here's the <a href="/changelog/">changelog</a>.</p>

{{ content | safe }}

</body>
</html>